body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 500px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.member {
  max-width: 600px;
  padding: 15px 35px 45px;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}